.main {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}

.logo {
  margin-bottom: 40px;
}

.mainSection {
  border-top: 1px solid #95e8f1;
  border-bottom: 1px solid #95e8f1;
  display: flex;
  width: 100%;
}

.left {
  width: 40%;
  padding: 60px 80px 60px 40px;
  border-right: 1px solid #95e8f1;
}

.title {
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 40px;
}

.description {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
}

.hostButton {
  padding: 13px 20px;
  border: 2px solid #95e8f1;
  border-radius: 6px;
  margin-right: 20px;
  color: #95e8f1;
}

.investButton {
  padding: 13px 20px;
  border: 2px solid white;
  border-radius: 6px;
  margin-right: 20px;
}

.lastWord {
  color: #95e8f1;
}

.right {
  width: 60%;
  padding: 40px;
}

.ongoing {
  font-weight: 500;
  font-size: 20.6731px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.projects {
  border: 1px dashed #e2e6ed;
  padding: 10px;
  padding-bottom: 0;
}

.project {
  background: #1d1f1f;
  padding: 22px 66px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.projectName {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.epoch {
  background: #000000;
  border-radius: 8px;
  padding: 4px 30px;

  font-size: 22px;
  line-height: 26px;
}
